<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huayi.ljj.springcloud.dao.TblSaleTransMapper">
  <resultMap id="BaseResultMap" type="com.huayi.ljj.springcloud.model.TblSaleTrans">
    <result column="BUYER" jdbcType="VARCHAR" property="buyer" />
    <result column="GOODS_NM" jdbcType="VARCHAR" property="goodsNm" />
    <result column="SPECIFICATION" jdbcType="VARCHAR" property="specification" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="QUANLITY" jdbcType="DECIMAL" property="quanlity" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="PAYMENT" jdbcType="VARCHAR" property="payment" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="TRAN_DT" jdbcType="VARCHAR" property="tranDt" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="THICKNESS" jdbcType="VARCHAR" property="thickness" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BUYER, GOODS_NM, SPECIFICATION, UNIT, QUANLITY, PRICE, AMOUNT, PAYMENT, memo, TRAN_DT, 
    ORDER_NO, THICKNESS
  </sql>
  <select id="selectByExample" parameterType="com.huayi.ljj.springcloud.model.TblSaleTransExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale_trans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.huayi.ljj.springcloud.model.TblSaleTransExample">
    delete from sale_trans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huayi.ljj.springcloud.model.TblSaleTrans">
    insert into sale_trans (BUYER, GOODS_NM, SPECIFICATION, 
      UNIT, QUANLITY, PRICE, 
      AMOUNT, PAYMENT, memo, 
      TRAN_DT, ORDER_NO, THICKNESS
      )
    values (#{buyer,jdbcType=VARCHAR}, #{goodsNm,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{quanlity,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{payment,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{tranDt,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{thickness,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huayi.ljj.springcloud.model.TblSaleTrans">
    insert into sale_trans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buyer != null">
        BUYER,
      </if>
      <if test="goodsNm != null">
        GOODS_NM,
      </if>
      <if test="specification != null">
        SPECIFICATION,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="quanlity != null">
        QUANLITY,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="payment != null">
        PAYMENT,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="tranDt != null">
        TRAN_DT,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="thickness != null">
        THICKNESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buyer != null">
        #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="goodsNm != null">
        #{goodsNm,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="quanlity != null">
        #{quanlity,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="tranDt != null">
        #{tranDt,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="thickness != null">
        #{thickness,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huayi.ljj.springcloud.model.TblSaleTransExample" resultType="java.lang.Long">
    select count(*) from sale_trans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sale_trans
    <set>
      <if test="record.buyer != null">
        BUYER = #{record.buyer,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNm != null">
        GOODS_NM = #{record.goodsNm,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null">
        SPECIFICATION = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.quanlity != null">
        QUANLITY = #{record.quanlity,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null">
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.payment != null">
        PAYMENT = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.tranDt != null">
        TRAN_DT = #{record.tranDt,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.thickness != null">
        THICKNESS = #{record.thickness,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sale_trans
    set BUYER = #{record.buyer,jdbcType=VARCHAR},
      GOODS_NM = #{record.goodsNm,jdbcType=VARCHAR},
      SPECIFICATION = #{record.specification,jdbcType=VARCHAR},
      UNIT = #{record.unit,jdbcType=VARCHAR},
      QUANLITY = #{record.quanlity,jdbcType=DECIMAL},
      PRICE = #{record.price,jdbcType=DECIMAL},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      PAYMENT = #{record.payment,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      TRAN_DT = #{record.tranDt,jdbcType=VARCHAR},
      ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      THICKNESS = #{record.thickness,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>