<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 引入线程池 -->
    <import resource="classpath:/spring/threadpool-config.xml"/>
    <!-- services -->

    <bean id="baseServiceFactory" class="com.huayi.ljj.springcloud.service.BaseServiceFactory" lazy-init="false">
        <property name="serviceMap">
            <map>
                <entry key="40204" value="t40204"></entry>
                <entry key="40106" value="t40106"></entry>
                <entry key="40105" value="t40105"></entry>

                <entry key="40801" value="t40801"></entry>
                <entry key="50001" value="t50001"></entry><!--登录测试接口-->
                <entry key="40000" value="t40000"></entry><!-- 减库存并计算最新-->
                <entry key="40002" value="t40002"></entry><!-- 减库存并计算最新-->
            </map>
        </property>
    </bean>
    <bean id="gatewayCallService" class="com.huayi.ljj.springcloud.base.impl.GatewayCallService">

    </bean>

    <!-- more bean definitions for services go here -->

</beans>